:root{
    --orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --Very-vark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);

}
body{
    font-size: 16px;
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Spartan', sans-serif;
    

}
.container-pag{
    max-width: 2000px;
    height: 100vh;
}
.container-product{
    display: flex;
    justify-content: space-around;
    height: 80%;
    align-items: center;
}
.product{
    width: 50%;
    height: 80%;
   
}
#cantidad-productos{
    border-radius: 66%;
    background: var(--orange);
    color: var(--Very-vark-blue);
    width: 31px;
    height: 31px;
}
.img-container{
    width: 100%;
    height: 80%;
}
.img-container img{
    height: 450px;
}
.img-container img{
    padding: 10px;
    width: 95%;
    border-radius: 5%;
    height: 100%;
}
.product-small-img img{
    width: 18%;
    padding: 2%;
    margin: 1% 1% 0%;
    cursor: pointer;
    border-radius: 18%;

}
.product-small-img{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.container-price{
    width: 40%;
    height: 65%;
   
}
.inf-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    font-size: 18px;
    font-weight: 700;
    color: var(--orange);
}
.sub-title{
    color: var(--Very-vark-blue);
    font-weight: 700;
    font-size: 47px;
}
.textP{
    color: var(--Dark-grayish-blue);
    font-size: 18px; 
}
del{
    color: var(--Dark-grayish-blue);
}
.cont-discount-price{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}
.price{
    padding: 2%;
    font-size: x-large;
    font-weight: 700;
}
.discount{
    padding: 2%;
    color: var(--orange);
    background-color: var(--Pale-orange);
    font-weight: 700;
    margin: 17%;
}
.minus{
    background-color: var(--Light-grayish-blue);
    color: var(--orange);
    font-size: 20px;
}
.plus{
    background-color: var(--Pale-orange);
    color: var(--orange);
    font-size: 20px;
}
#mostrarCantidadProducto{
    width: 25%;
}
.cont-contador{
    display: flex;
    width: 25%;
    height: 60px;
    background-color: var(--Pale-orange);
    justify-content: space-around;
    align-items: center;
}
.cont-contador input{
    border-color: transparent;
    font-size: 18px;
    text-align: center;
    font-weight: 700;

    border: none;
    background-color: var(--Pale-orange) ;
}
.cont-contador button{
    height: fit-content;
    outline: none;
    text-decoration: none;
    border: none;
    background-color: var(--Pale-orange) ;

}
.cont-contador button:hover{
    cursor: pointer;
}
.container-cart{
    display: flex;
    margin-top: 10%;
    justify-content: space-around;
}
.container-add-cart{
    display: flex;
    width: 60%;
}


.container-add-cart button{
    width: 100%;
    border-radius: 10px;
    background-color: var(--orange);
    color: var(--White);
    border-color: transparent;
}
.card{
    cursor: pointer;
}


.carrousel{
    width: 100%;
    height: 780;
    position: relative;
    display: none;
}
.carrousel img{
    top: 40%;
    width: 100%;
}
.boton{
    font-size: 18px;
    width: 10%;
    height: 55px ;
    line-height: 39px;
    border-radius: 125%;
    background-color: var(--White);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: var(--Very-vark-blue);
    box-shadow: 0 0 10px rgba(255, 255, 255, .6);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: none;
    color: black;
}
.boton:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
#anterior{
    left: 10%;
    top:50%;
    position: absolute;
}
#anterior img{
    width: fit-content;
}

#siguiente{
    right: 5%;
    top: 50%;
    position: absolute;
}
#siguiente img{
    width: fit-content;
}
.img-carrousel{
    width: 100%;
}
/*menu hamburguesa*/
.menu-hamburguesa{
    display:none;
}
/* menu desktop*/

.menu{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.menu a{
    text-decoration: none;
    color: var(--Very-vark-blue);
}
.menu a:hover{
    color: var(--Grayish-blue);
}
.collections{
    text-decoration: none;

}
.collections:hover{
    color: var(--Grayish-blue);
}
.menu h1{
    width: 30%;
    font-weight: 700;
    font-size: 2.5em;
}
.menu-desktop{
    width: 70%;
}
.menu-desktop nav{
    width: 100%;
}
.menu-desktop nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 10%;
}
.cont-menu{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}
.cont-cart{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.profile{
    width: 80px;
    border: 10px;
    border-color: orange;
}
.profile:hover{
    cursor: pointer;
    margin: 10px 20px;
    border-radius: 80%;
    background-color: orange;
    overflow: hidden;
}

/*   MODAL   */
.modal{
    width: 10%;
    height: 100vh;
    position: fixed;
    top: 10%;
    left: 70%;
    display: flex;
}
.modal-content{
    height: 100px;
    background-color: blueviolet;
    width: 100%;
    max-width: 500px;
    text-align: center;
    border-radius: 5%;
}

/*    Modal de la imagen   */
.modal-container-img{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.modalImg{
    width: 38%;
    height: 50%;
    justify-content: center;
    align-items: center;
    visibility: visible;
    position: relative;
    position: transform 1s;
    transform: translateY(0%);
}
.modal-close{
   transform: translateY(-200%);
}

@media (max-width: 600px){
    *{
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }
    body{
        width: 100%;
        display: flex;

    }
    .container-pag{
        width: 100%;
        height: 100vh;
    }
    header{
        width: 100%;
        height: 80px;
        background-color: chocolate;
        display: flex;
    }
    header h1{
        height: 40px;
        padding: 20px 50px;
    }
    .carrousel{
        display: block;
    }
    .product{
        display: none;
    }
    .container-price{
        width: 90%;
        margin: 4%;
    }
    .container-cart{
        flex-direction: column;
        align-items: center;
    }
    .cont-contador{
        width: 80%;
        justify-content: space-between;
    }
    #addToCart{
        width: 100%;
        height: 40px;
    }
    .menu-desktop{
        display: none;
    }

}